<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Resto</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="add" routerLinkActive="active">Add Restaurant</a>
        <a class="nav-item nav-link" routerLink="" routerLinkActive="active">List Restaurant</a>
        <a class="nav-item nav-link" routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="register" routerLinkActive="active">Register</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet> </router-outlet>
  <footer>
    <p>Register your restaurant with us</p>
  </footer>
</div>

